<footer class="footer footer-standard pt50 pb10">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 mb40">
                <h3>About Us</h3>
                <p>
                    The Vera and Donald Blinken Open Society Archives (OSA) at Central European University (CEU) is a
                    complex archival institution. OSA is both a repository of important collections, primarily related
                    to the history of the Cold War and grave international human rights violations, and a laboratory of
                    archival experiments on new ways of assessing, contextualizing, presenting, and making use of
                    archival documents.</p>
                <a href="http://www.osaarchivum.org" target="_new" class="btn btn-white-outline btn-sm">Blinken OSA Website</a>
            </div>
            <div class="col-lg-2 col-md-6 mb40">
                <h3>Quick links</h3>
                <ul class="list-unstyled footer-list-item">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/faq">
                            For Researchers
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'visualisation:chart' %}">
                            Data Visualisation
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/fecrfe/Raw-Data-RFEFEC" target="_blank">
                            Raw Data
                        </a>
                    </li>
                    <li>
                        <a href="/timeline">
                            History
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 mb40">
                <h3>Contact Us</h3>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2695.351866607695!2d19.051384615798195!3d47.50253830315369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4741dc14b579204f%3A0xaa8e36502aa97022!2sVera+and+Donald+Blinken+Open+Society+Archives!5e0!3m2!1shu!2shu!4v1512641472113" width="100%" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</footer>