{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Radio Free Europe/Free Europe Committee - Encrypted Telex Communication</title>

    <meta name='keywords' content='telex, Free Europe Committee, Radio Free Europe'>
    <meta name='abstract' content='Vera and Donald Blinken Open Society Archives'>
    <meta name='description' content='This digital collection represents a valuable account of intensive trans-Atlantic
    communications between two epistemic communities which, although physically separated, were mentally linked in
    creating and disseminating often contested, information toward the countries of the Eastern Block but also creating
    themselves an “endogenous circle” of communication of an important and secretive often encrypted information to
    support “exogenous circle”.'>
      
    <!-- plugins CSS (all plugins css file compile into one file by gulp) -->
    <link rel="stylesheet" href="{% static 'fec/css/plugins/plugins.css' %}" >
    <!-- Assan cuatom CSS fle -->
    <link rel="stylesheet" href="{% static 'fec/css/style.css' %}" >

    <link rel="stylesheet" href="{% static 'fec/css/fec.css' %}" >
  </head>

  <body>
    <div id="preloader">
        <div id="preloader-inner"></div>
    </div><!--/preloader-->


    <!-- Site Overlay -->
    <div class="site-overlay"></div>

    {% include '_nav.html' %}

    {% block hero %}{% endblock %}
    {% block counter %}{% endblock %}

    {% block badge %}{% endblock %}

    {% include '_footer.html' %}
    <a href="#" class="back-to-top hidden-xs-down show" id="back-to-top"><i class="ti-angle-up"></i></a>
    <!-- Plugins first, then assan custom. -->
    <script src="{% static 'fec/js/plugins/plugins.js' %}"></script>
    <script src="{% static 'fec/js/assan.custom.js' %}"></script>
    <script src="{% static 'fec/js/fec_home.js' %}"></script>
  </body>
</html>