{% extends 'base.html' %}
{% load staticfiles %}

{% block page_css %}
    <link rel="stylesheet" href="{% static 'fec/bower_components/select2/dist/css/select2.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'fec/bower_components/select2-bootstrap-theme/dist/select2-bootstrap.min.css' %}" type="text/css" />
{% endblock %}

{% block page_js %}
    <script src="{% static 'fec/bower_components/select2/dist/js/select2.min.js' %}"></script>
    <script src="{% static 'fec/bower_components/plotlyjs/plotly.js' %}"></script>
    <script src="{% static 'fec/js/fec_stats.js' %}"></script>
{% endblock %}

{% block page_content %}
    <div class="page-titles-img title-space-lg bg-parallax parallax-overlay" data-jarallax='{"speed": 0.2}'
         style='background-image: url({{ header_img }})'>
        <div class="container">
            <div class="row">
                <div class=" col-md-12">
                    <h1 class='text-uppercase'>{{ object.title }}</h1>
                    <h3 class="text-uppercase">{{ object.date }}</h3>
                </div>
            </div>
        </div>
    </div><!--page title end-->

    <div class="container pt30 mb40">
        <div class="row">
            <div class="col-md-12">
                <div class="bubbleplot" data-num="0">
                    <div class="plot" id="plotdiv"></div>
                    <div class="control-row row">
                        <div class="col-md-6">
                            <label>Country:</label>
                            <select class="countrydata"></select>
                        </div>
                        <div class="col-md-6">
                            <label>Person:</label>
                            <select class="persondata"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}